# NGINX Basic Auth (AES-256-GCM) — generate via: node encrypt-creds.js
# See encrypt-creds.js for usage
NGINX_ENCRYPTED_DATA=
NGINX_IV=
NGINX_TAG=
NGINX_SECRET_KEY=  # Must be exactly 32 characters
NGINX_JELLYFIN_DOMAIN=  # e.g. phim-ne.ddnsfree.com
NGINX_USERNAME=  # e.g. minhtran
NGINX_PASSWORD=  # e.g. your-password
