#slides-container {
    top: 2em !important;
}

.slide .watchlist-button:not(:hover) {
    background: transparent;
}

.docspinner {
    contain: layout style size;
    top: 1em;
    right: calc(1em + 7px);
    left: unset;
    position: fixed;
    width: 3em;
    height: 3em;
    z-index: 9999999;
    margin: 0;
    pointer-events: none;
}

:root{
    --appBarHeight: 5em;
}

.series-episodes-section {
    grid-column: 1 / 5;
}

.detailSection:has(.series-episodes-section)>#listChildrenCollapsible {
    grid-column: 1 / 5;
}

.layout-mobile .cardOverlayButton {
    padding: 0em;
}

.layout-mobile .cardOverlayButton-br:not([data-action="menu"])>.cardOverlayButtonIcon {
    font-size: 16px !important;
}

.layout-mobile #itemDetailPage .listItemImageButton {
    width: 55px !important;
    height: 55px !important;
}

.layout-mobile .listItemImageButton-icon {
    position: relative !important;
    top: inherit !important;
    right: inherit !important;
}

.layout-mobile .playedIndicator {
    position: relative !important;
    top: 5px !important;
}

.layout-mobile .listItem-bottomoverview.secondary {
    display: none;
}

.layout-mobile #itemDetailPage .listItem {
    min-height: 150px;
    justify-content: flex-end;
}

.layout-mobile .listViewUserDataButtons {
    display: none;
}

.layout-mobile  .listItemBody {
    background-color: #00000045;
    border-radius: 4px;
    width: 100%;
    display: flex;
}
.layout-mobile .listItemBody>.listItemBodyText:not(.secondary) {
    -webkit-line-clamp: 1 !important;
}

.layout-mobile .listItemBodyText {
    max-width: unset !important;
}